.daily-scrum-page {
    background-image: url('/public/ds-background.png');
    background-size: 50%; /* Copre l'intero spazio disponibile senza distorcere l'immagine */
    background-position: right bottom; /* Centra l'immagine nello spazio disponibile */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.start-button {
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #0056b3;
}

.session-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; /* Regola questo valore in base alle tue necessità */
    margin-bottom: 20px;
}

.session-active {
    text-align: center;
}

.user-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.username {
    font-size: 4rem;
    margin-bottom: 20px;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Assicura che il wrapper occupi l'intera larghezza */
}

.next-button-container {
    text-align: center;
    width: 100%; /* Assicurati che il div occupi la larghezza intera per centrare correttamente il pulsante */
}
  
.next-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
  
.next-button:hover {
    background-color: #0056b3;
}