.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* O il colore di sfondo che preferisci */
}

.login-box {
padding: 30px;
background: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
width: 100%;
max-width: 400px;
text-align: center;
}

.login-box h2 {
color: #333;
margin-bottom: 20px;
}

.login-box input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ddd;
border-radius: 4px;
box-sizing: border-box; /* Così il padding non influisce sulla larghezza */
}

.login-box button {
width: 100%;
padding: 10px;
border: none;
background-color: #007bff; /* O il colore che preferisci */
color: white;
border-radius: 4px;
margin-top: 10px;
cursor: pointer;
}

.login-box button:hover {
background-color: #0056b3; /* Un po' più scuro quando si passa il mouse sopra */
}

.login-links {
margin-top: 20px;
}

.login-links a {
color: #007bff; /* O il colore che preferisci */
text-decoration: none;
display: block; /* Per far sì che occupino la propria linea */
}

.login-links a:hover {
text-decoration: underline; /* Aggiunge sottolineatura al passaggio del mouse */
}
  