.sessions-page {
    margin-left: 50px;
}

.sessions-page table {
    width: 100%;
    max-width: calc(100vw - 200px); /* Assumi che la sidebar sia larga 200px */
    overflow-x: auto;
}
  
.sessions-page th, .sessions-page td {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.sessions-page tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
.sessions-page th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}